
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}

body{
 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    min-height: 100vh;
    background: #222;
}

a{
    position: relative;
    display: inline-block;
    padding: 20px 45px;
    margin: 60px 0;
    color: aqua;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    overflow: hidden;
    transition: 0.55;
    -webkit-box-reflect: below 1px
    linear-gradient(transparent,#0005);

}

a:nth-child(1){
    filter: hue-rotate(690deg);
}
a:nth-child(3){
    filter: hue-rotate(110deg);
}
a:hover{
    background-color: aqua;
    color: #222;
    box-shadow: 0 0 5px #030303,
    0 0 25px #03e9f4, 0 0 50px 
    0 0 25px #03e9f4, 0 0 50px ,
    0 0 25px #03e9f4, 0 0 50px ,
}

a span:nth-child(1){
 

    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transition, #03e9f4);
    animation: alternate 1s linear infinite;

}


@keyframes animate1 {
    0%{
        left: -100%;

    }
    50%, 100%{
    left: 100%;
}
}
a span:nth-child(2){
 
    right: 0;
    top: -100%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transition, #03e9f4);
    animation: alternate2 2s linear infinite;
    animation-delay: 0.25s;

}


@keyframes animate2 {
    0%{
        top: -100%;

    }
    50%, 100%{
    top: 100%;
}
}
a span:nth-child(3){
 
    bottom: 0;
    right: -100%;
    height: 2px;
    width: 100%;
    background: linear-gradient(180deg,transition, #03e9f4);
    animation: alternate3 3s linear infinite;
    animation-delay: 0.5s;

}


@keyframes animate3 {
    0%{
        right: -100%;

    }
    50%, 100%{
    right: 100%;
}
}
a span:nth-child(4){
 
    left: 0;
    bottom: -100%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transition, #03e9f4);
    animation: alternate4 2s linear infinite;
    animation-delay: 0.75s;


}
@keyframes animate4 {
    0%{
        left: -100%;

    }
    50%, 100%{
    left: 100%;
}
}